#chatArea {
    height: 90vh;
    max-height: 80vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 15px;
}

#userInputArea {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: white;
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    background-color: blue;
    color: white;
    width: 5vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    &:hover {
        background-color: rgb(0, 0, 139);
    }
    &:active {
        background-color: blue;
        margin: 0.5vh 0.5vw;
        width: 4vw;
        height: 4vh;
    }
}

.textInput {
    width: 80%;
    height: 8vh;
    background: none;
    border-radius: 10px;
    color: black;
    font-size: 1.5em;
    resize: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.inputLabel {
    font-size: 2em;
}

.userMessage {
    display: block;
    margin: 5% 5% 0% 5%;
    width: 66%;
    float: right;
    background-color: #A3C997;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
    color: black;
}

.generatedResponse {
    display: block;
    margin: 5% 5% 0% 5%;
    width: 66%;
    float: left;
    background-color: #D9D9D9;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 20px;
    color: black;
}
