#WelcomeMessage {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the form container */
#customForm {
    background-color: #fff; /* Form background color */
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Shadow effect */
    width: 50vw; /* Default width for desktop */
    margin-left: auto;
    margin-right: auto;
    /* Responsive adjustments */
    max-width: 90vw; /* Max width for mobile */
    /* Media query for mobile */
    @media screen and (max-width: 400px) {
        width: 90vw;
    }
}

/* Style for form elements */
.question {
    margin-bottom: 20px;
}

/* Style for labels */
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1.5em;
}

label:first-child {
    font-weight: bold;
}

/* Style for radio buttons */
input[type="radio"] {
    margin-right: 10px;
}

#AILegalAgreement {
    z-index: 1000;
    background-color: white;
    border-radius: 20px;

    width: 40vw;
    height: fit-content;
    @media screen and (max-width: 400px) {
        width: 90vw;
        height: 70vh;
        overflow-y: scroll;
    }
    padding: 5%;
    position: fixed;
    top: 10vw;
    left: 30vw;
}

#UserInteractionPreventer {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #7c9a72c8;
}

.disipate {
    animation: disipate 0.33s linear 0s 1 forwards;
}

@keyframes disipate {
    0% {
        background-color: #7c9a72c8;
    }
    100% {
        background-color: #a3c99700;
        display: none;
    }
}
